<div class="footer">
    <div class="container">
        <div class="footer_title pt-5">
            <div class="title_white">СВЯЗЬ С НАМИ</div>
            <div class="title_mini_white">ОСТАЛИСЬ ВОПРОСЫ?</div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="footer_text">E-MAIL</div>
                <a class="footer_description" href="mailto:r_live@bk.ru">r_live@bk.ru</a>
            </div>
            <div class="col-3">
                <div class="footer_text">ТЕЛЕФОН</div>
                <a class="footer_description" href="tel:+79959998999">+7 (995) 999-89-99</a>
            </div>
            <div class="col-3">
                <div class="footer_text">INSTAGRAM</div>
                <a class="footer_description" href="https://www.instagram.com/insidetravel/" target="_blank">@insidetravel</a>
            </div>
            <div class="col-3">
                <div class="footer_text">САЙТ РАЗРАБОТАН</div>
                <a class="footer_description pl-3 mt-1" href="https://rowstudio.ru/" target="_blank"><img class="logo" src="img/logo.png"></a>
            </div>
        </div>
    </div>
</div>