<div class="container">
    <div class="route points mx-auto" id="item-1">
        <div class="title">МАРШРУТ</div>
        <div class="way_normal">В 4 ЭТАПА</div>
        <div class="line_bold mx-auto mt-4"></div>
        <div class="block_first mt-5">
            <div class="row">
                <div class="col-4">
                    <div class="dg-container">
                        <div class="dg-wrapper">
                            <div><img src="../img/moscow.png"></div>
                            <div><img src="../img/Group%20(14).png"></div>
                            <div><img src="../img/moscow.png"></div>
                            <div><img src="../img/Group%20(14).png"></div>
                        </div>
                        <nav>
                            <span class="dg-prev"></span>
                            <span class="dg-next">&gt;</span>
                        </nav>
                    </div>
                </div>
                <div class="col-5">
                    <div class="description_text mt-4 ml-4 pr-5">
                        <div class="way_block">
                            <div class="way">МОСКВА</div>
                        </div>
                        <div class="round wow round_first"></div>
                        <div class="vector vector_first">
                            <img src="../img/vector_first.png">
                        </div>
                        <div class="way_mini mt-0 mb-5">СТАРТ</div>
                        <div class="way_description">Мы соберёмся на просторной площадке в центре Москвы. Проведём
                            брифинг, раздадим рации и экипировку, проверим нанесение спонсорских наклеек и
                            порядковых
                            номеров на автомобилях (машины можно будет обклеить у наших партнеров заранее, наклейки
                            легко снимаются, не оставляя следов)
                        </div>
                        <div class="way_description mt-2">Дружной колонной отправимся в сторону платной трассы М-11,
                            по
                            которой с ветерком «промчимся» до первого чекпоинта ...
                        </div>
                    </div>
                </div>
                <div class="block_first_card">
                    <img src="../img/moscow.jpg">
                </div>
            </div>
        </div>
        <div class="block_second">
            <div class="row">
                <div class="col-3"></div>
                <div class="block_second_card">
                    <img src="../img/zavidovo.png">
                </div>
                <div class="col-5">
                    <div class="description_text mt-4 ml-4 pr-5">
                        <div class="way">ЗАВИДОВО</div>
                        <div class="round wow round_second"></div>
                        <div class="vector vector_second">
                            <img src="../img/vector_second.png">
                        </div>
                        <div class="way_mini mt-0 mb-5">ЧЕКПОИНТ 1</div>
                        <div class="way_description">После активного вождения нам потребуется отдых и мы выбрали для
                            этого одно из самых живописных мест.
                        </div>
                        <div class="way_description mt-2">Свежий и чистый воздух, красивейшая природа - всё это
                            окружает
                            гольф-клуб Завидово, а «Крым», расположенный прямо у воды по праву считается одним из
                            лучших
                            загородных ресторанов. Отличное место для релакса и вкусного обеда в дружной компании!
                        </div>
                        <div class="way_description mt-2">Общение с участниками построено не на поиске партнеров, а
                            на
                            обретении настоящих друзей! Каковыми являются и партнеры мероприятия, которые расскажут
                            о
                            себе и сделают приятные подарки.
                        </div>
                        <div class="way_description mt-2">Мы набрались сил, повысили градус настроения, обсудили
                            предстоящий отрезок и отправляемся дальше ...
                        </div>

                    </div>
                </div>
                <div class="col-4">
                    <div class="dg-container right">
                        <div class="dg-wrapper">
                            <div><img src="../img/zavidovo.jpg"></div>
                            <div><img src="../img/Group%20(15).png"></div>
                            <div><img src="../img/zavidovo.jpg"></div>
                            <div><img src="../img/Group%20(15).png"></div>
                        </div>
                        <nav>
                            <span class="dg-prev">&lt;</span>
                            <span class="dg-next">&gt;</span>
                        </nav>
                    </div>
                </div>
            </div>

        </div>
        <div class="block_third">
            <div class="row">
                <div class="col-4">
                    <div class="dg-container">
                        <div class="dg-wrapper">
                            <div><img src="../img/rayok.jpg"></div>
                            <div><img src="../img/Group%202%20(7).png"></div>
                            <div><img src="../img/rayok.jpg"></div>
                            <div><img src="../img/Group%202%20(7).png"></div>
                        </div>
                        <nav>
                            <span class="dg-prev">&lt;</span>
                            <span class="dg-next">&gt;</span>
                        </nav>
                    </div>
                </div>
                <div class="col-5 pl-0 pr-0">
                    <div class="description_text mt-4 ml-4 pr-5">
                        <div class="way_block">
                            <div class="way">ЗНАМЕНСКОЕ-РАЁК</div>
                        </div>
                        <div class="round wow round_third"></div>
                        <div class="vector vector_third">
                            <img src="../img/Vector%20(3).png">
                        </div>
                        <div class="way_mini mt-0 mb-5">ЧЕКПОИНТ 2</div>
                        <div class="way_description pr-5">... Съехав с трассы М-10 мы насладимся извилистой дорогой
                            через поля, которая приведёт нас к усадьбе середины 18 века. Дворцово парковый комплекс,
                            строительство которого закончилось в 1787г примет участников ралли на своей территории,
                            где
                            нас ждёт пикник, катание на лошадях и воздушный шар, с которого гости автопробега смогу
                            увидеть неописуемую красоту Российской глубинки.
                        </div>
                        <div class="way_description mt-2 pr-5">Концерт кавер группы, фуршет, коктейль бар и много
                            всего
                            интересного (здесь мы допишем когда будет понятно что будет)
                        </div>
                        <div class="way_description mt-2 pr-5">Время близится к вечеру, нам пора выдвигаться на
                            финиш
                            нашего Ралли ...
                        </div>
                    </div>
                </div>
                <div class="block_third_card">
                    <img src="../img/tver.png">
                </div>
            </div>
        </div>
        <div class="block_finally">
            <div class="row">
                <div class="col-7 pl-0">
                    <div class="container container-map_card">
                        <div class="map_card mx-auto">
                            <video autoplay="autoplay" src="../video/party.mp4"
                                   type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                            </video>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="description_text mt-2 pr-5">
                        <div class="way_block">
                            <div class="way">INSIDE PARTY AUTUMN</div>
                        </div>
                        <div class="round wow round_fourth"></div>
                        <div class="way_mini mt-0 mb-5">СЕЗОННАЯ ВЕЧЕРИНКА INSIDE</div>
                        <div class="way_description">Закрытое мероприятие для членов клуба INSIDE и их друзей!</div>
                        <div class="way_description mt-2">Грандиозное событие этой осени. Мы не раскрываем тематику
                            вечеринки до того, как гость не переступит через порог нашего заведения. На наши
                            вечеринки
                            прилетают люди со всего мира.
                        </div>
                        <div class="way_description mt-2">Просто посмотрите как это было в прошлый раз!</div>
                        <a class="but" href="#">
                            <div class="button_mini">
                                <button class="button_go_on" data-toggle="modal" data-target="#exampleModal1">
                                    ПРИНЯТЬ УЧАСТИЕ
                                </button>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>