@media (min-width: 1600px) {
  .container {
    max-width: 1500px;
  }
}

a {
  &:hover {
    text-decoration: none;
  }
}
.map_card {
  padding-bottom: 56.2%;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);

  video {
    position: absolute;
  }
}

video {
  width: 100%;
  height: 100%;
}

.navigation-block {
  width: 100%;
  display: flex;
  height: 10%;
}

.header-text-block {
  width: 100%;
}

.header-bottom {
  width: 100%;
  height: 20%;
  margin-bottom: 20vh;
  position: sticky;
}

.heading-logo {
  .phone {
    display: none;
  }
}

.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.for_head {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  position: relative;
  overflow-x: hidden;
}

.header {
  background: url("../img/header.jpg") center center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 937px;
  margin-top: 0;
  margin-bottom: 0;
  &__nav {
    list-style: none;
    justify-content: space-between;
    display: flex;
    padding: 0;
    margin-top: 20px;

  }
  &__nav-item {
    position: relative;
    overflow: hidden;
    padding-right: 1px;

    &::before {
      position: absolute;
      top: 20px;
      left: -100%;
      width: 100%;
      height: 1px;
      content: "";
      background-color: #FFFFFF;
      transition: .4s;
    }
    &:hover {
      &::before {
        position: absolute;
        top: 20px;
        left: 0;
        width: 100%;
        height: 1px;
        content: "";
        background-color: #FFFFFF;

      }
    }
  }
}

a {
  text-decoration: none;
  &:hover {
    color: #FFFFFF;
  }
}

.line {
  width: 300px;
  height: 1px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #FFFFFF;
  opacity: .7;

  &_vertical {
    height: 150%;
    width: 1px;
    top: 0;
    background-color: #FFFFFF;
    opacity: .7;

  }
  &_arrow {
    width: 1px;
    height: 250px;
    background: #FFFFFF;

    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin-bottom: 100px;
    margin-top: 30px;
    &::before
    {
      width: 1px;
      height: 5px;
      background: #FFFFFF;
      position: absolute;
      bottom: -302px;
      left: -1px;
      content: '';
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      margin-bottom: 300px;
      margin-top: 30px;
    }
    &::after
    {
      width: 1px;
      height: 5px;
      background: #FFFFFF;
      position: absolute;
      bottom: -302px;
      left: 1px;
      content: '';
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      margin-bottom: 300px;
      margin-top: 30px;
    }
  }
  &_min_left
  {
    width: 1px;
    height: 5px;
    background: #FFFFFF;
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  &_bold {
    width: 230px;
    height: 7px;
    background: #181818;
  }
}

.big_text_block {
  position: relative;
}

.block_for_header_text {
  margin-top: 120px;
}

.button_one {
  position: relative;
  overflow: hidden;
  display: inline-block;
  &::before {
    position: absolute;
    top: 22px;
    left: -100%;
    width: 100%;
    height: 1px;
    content: "";
    background-color: #FFFFFF;
    transition: .4s;
  }

  &:hover {
    &::before {
      position: absolute;
      top: 22px;
      left: 0;
      content: "";
      background-color: #FFFFFF;
    }
  }
  a:hover {
    text-decoration: none;
  }
}

.button_two {
  position: relative;
  overflow: hidden;
  width: 140px;
  cursor: pointer;

  &::before {
    position: absolute;
    top: 26px;
    left: -100%;
    width: 100%;
    height: 3px;
    content: "";
    background-color: #181818;
    transition: .4s;
  }

  &:hover {
    &::before {
      position: absolute;
      top: 26px;
      left: 0;
      content: "";
      background-color: #181818;
    }
  }
}

.description {
  position: relative;
  height: 300px;

}

.block_cities {

  position: absolute;
  top: 250px;
  left: 20px;
  opacity: .7;

}

.city {

  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.partners {
  margin-bottom: 170px;
}

.form_go_on {
  margin-bottom: 200px;
}

.footer {
  background-color: #181818;
  height: 400px;
  &_description {
    color: white;
    opacity: .8;
  }
}

.footer_title {
  position: relative;
  &::after {
    position: absolute;
    height: 8px;
    width: 100%;
    left: 675px;
    top: 95px;
    background: #FFFFFF;
    content: "";
  }
}

.footer_blocks {
  justify-content: space-between;
  display: flex;
  margin-top: 100px;
}

.logo {
  width: 189px;
  height: 25px;
}

.map {
  &_card {
    position: relative;
    top: -50px;
    width: 100%;
    height: 100%;
  }
}

.title_right {
  position: relative;
  margin-right: 100px;

  &::before {
    position: absolute;
    content: "";
    width: 600px;
    height: 7px;
    top: 50px;
    left: 100px;
    background: #181818;
  }
}

.title_left {
  position: relative;
  margin-left: 100px;

  &::before {
    position: absolute;
    content: "";
    width: 600px;
    height: 7px;
    top: 50px;
    left: 650px;
    background: #181818;
  }
}

.friends {
  margin-top: 120px;
  margin-bottom: 120px;
  position: relative;
}


.block_dots {
  position: relative;
  .dots {
    position: absolute;
    right: -94vw;
    top: 300px;
    transition: .5s;
    &:hover
    {
      .right_menu
      {
        display: flex;
        transition: .5s;
      }
    }
  }
  .nav-link {
    &:hover {
      .dot {
        background: white;
      }
    }
  }
}


.dot {
  width: 15px;
  height: 15px;
  border: 1px solid white;
  border-radius: 50%;
  transition: .3s;
  &:hover {
    background: white;
  }
}

.right_menu
{
  font-family: nextart_thin;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0.2em;
  transition: .5s;
  display: none;
  font-weight: 700;
}

.buy_block {

  position: absolute;
  width: 100%;
  left: 0;
  bottom: -101%;
  background-color: white;
  align-items: center;
  transition: .4s ease-in-out;
}

.car_photo:hover .buy_block {
  bottom: 0;
}

.car_photo {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

.icon {
  width: 25px;
  height: 25px;
  margin-top: 200px;
}

.icon img {
  width: 25px;
  height: 25px;
  margin-top: 100px;
}

.modal-content {
  width: 672px;
  min-height: 72em;
}


.login {
  font-size: 21px;
  width: 100%;
  font-family: AvenirNextCyr-Light;
  font-style: normal;
  font-weight: 300;
  line-height: 140.88%;

  border: 1px solid black;
  margin-bottom: 29px;
  padding-left: 2px;
}

.radio input[type="radio"] {
  display: none;
}

.radio label {
  position: relative;
  display: inline-block;

  /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
  padding-left: 22px;
}

.radio label::before,
.radio label::after {
  position: absolute;
  content: "";

  /*Needed for the line-height to take effect*/
  display: inline-block;
}

/*Outer box of the fake checkbox*/
.radio label::before {
  height: 20px;
  width: 20px;

  border: 1px solid;
  left: 0px;

  /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
   *to vertically center it.
   */
  top: 3px;
}

/*Checkmark of the fake checkbox*/
.radio label::after {
  height: 14px;
  width: 14px;
  background-color: black;
  left: 3px;
  top: 6px;
}

/*Hide the checkmark by default*/
.radio input[type="radio"] + label::after {
  content: none;
}

/*Unhide on the checked state*/
.radio input[type="radio"]:checked + label::after {
  content: "";
}

/*Adding focus styles on the outer-box of the fake checkbox*/
.radio input[type="radio"]:focus + label::before {
  outline: rgb(59, 153, 252) auto 5px;
}

ul {
  padding: 0;
}

li {
  display: flex;
  list-style-type: none; /* Убираем маркеры у списка */
}

li:before {
  content: "-"; /* Добавляем в качестве маркера символ */
}

.close {

  color: black;
}

.owl-dots {
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin-top: 3em;

  &.disabled {
    display: none !important;
  }
  .owl-dot {
    width: 175px;
    height: 6px;
    background: rgba(24, 24, 24, 0.3) !important;

    margin: 0 7.5px;

    &.active {
      background: #3f3e3e !important;
    }
  }
}

.button_maxi
{
  width: 400px;
}
.button_mini
{

}

.button_maxi button {
  align-items: center;
  justify-content: center;
  border: 3px solid #181818;
  transition: .6s;
  padding: 18px;
  background: white;
  box-shadow: inset 0px 0px 0px 2px rgb(255, 255, 255);

  &:hover {

    background-color: #181818;

    .button_go_on_big {
      color: #FFFFFF;
    }
  }
}

.menu {
  .heading-logo {
    display: none;
  }
  .bottom-mob-menu {
    display: none;
  }
  .heading-small {
    b {
      display: none;
    }
  }
}
.modal-content {
  .heading-logo {
    display: none;
  }
}
.button_maxi:hover .button_go_on_big {
  color: #FFFFFF;
}

.button_mini button {
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #181818;
  transition: .6s;
  padding: 14px 30px;
  background: white;
  box-shadow: inset 0px 0px 0px 2px rgb(255, 255, 255);

  &:hover {
    .button_go_on {
      color: #FFFFFF;
    }
    background-color: #181818;

  }
}

.button_mini:hover .button_go_on {
  color: #FFFFFF;
}
#123
{
  height: 10000px;
}
#uslovie
{
  &:hover
  {
    cursor: pointer;
    text-decoration: underline;
    transition: .4s;
  }
}
@media(min-width: 1200px) {
  #but_left {
    margin-left: -80px;
    margin-top: 70px;
  }
}
.photo_success
{
  width: 177px;
  height: 177px;
  margin-top: 110px;
}
#exampleModal3
{
  height: 948px;
}