@media (min-width: 1600px) {
  .container {
    max-width: 1500px;
  }
}

.navigation-block
{
  width: 100%;
  display: flex;
  height: 10%;
}
.header-text-block
{
  width: 100%;
}
.header-bottom
{
  width: 100%;
  height: 20%;
  margin-bottom: 20vh;
  position: sticky;
}
.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.for_head {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  position: relative;
  overflow-x: hidden;
}

.header {
  background: url("../img/header.jpg") center center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 937px;
  margin-top: 0;
  margin-bottom: 0;
  &__nav {
    list-style: none;
    justify-content: space-between;
    display: flex;
    padding: 0;
    margin-top: 20px;

  }
  &__nav-item {
    position: relative;
    overflow: hidden;
    padding-right: 1px;

    &::before {
      position: absolute;
      top: 20px;
      left: -100%;
      width: 100%;
      height: 1px;
      content: "";
      background-color: #FFFFFF;
      transition: .4s;
    }
    &:hover {
      &::before {
        position: absolute;
        top: 20px;
        left: 0;
        width: 100%;
        height: 1px;
        content: "";
        background-color: #FFFFFF;

      }
    }
  }
}

a {
  text-decoration: none;
  &:hover {
    color: #FFFFFF;
  }
}

.line {
  width: 300px;
  height: 1px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #FFFFFF;
  opacity: .7;

  &_vertical {
    position: absolute;
    height: 300px;
    width: 1px;
    top: 0;
    left: 280px;
    background-color: #FFFFFF;
    opacity: .7;

  }
  &_arrow {
    width: 1px;
    height: 250px;
    background: #FFFFFF;

    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin-bottom: 100px;
    margin-top: 30px;
  }
  &_bold {
    width: 230px;
    height: 7px;
    background: #181818;
  }
}

.big_text_block {
  position: relative;
}

.block_for_header_text {
  margin-top: 150px;
}

.button_one {
  position: relative;
  overflow: hidden;
  display: inline-block;
  &::before {
    position: absolute;
    top: 22px;
    left: -100%;
    width: 100%;
    height: 1px;
    content: "";
    background-color: #FFFFFF;
    transition: .4s;
  }

  &:hover {
    &::before {
      position: absolute;
      top: 22px;
      left: 0;
      content: "";
      background-color: #FFFFFF;
    }
  }
  a:hover {
    text-decoration: none;
  }
}

.description {
  position: relative;

}

.block_cities {

  position: absolute;
  top: 250px;
  left: 20px;
  opacity: .7;

}

.city {

  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}


.partners {
  margin-bottom: 170px;
}

.form_go_on {
  margin-bottom: 200px;
}

.footer {
  background-color: black;
  height: 400px;
}

.footer_title {
  position: relative;
  &::after {
    position: absolute;
    height: 8px;
    width: 100%;
    left: 675px;
    top: 95px;
    background: #FFFFFF;
    content: "";
  }
}

.footer_blocks {
  justify-content: space-between;
  display: flex;
  margin-top: 100px;
}

.logo {
  width: 189px;
}

.map {
  position: relative;
  width: 1330px;
  height: 750px;
  margin-left: auto;
  margin-right: auto;
  &_card {
    position: absolute;
    top: -50px;

  }

}


.title_right {
  position: relative;
  margin-right: 100px;

  &::before {
    position: absolute;
    content: "";
    width: 600px;
    height: 7px;
    top: 50px;
    left: 100px;
    background: black;
  }
}

.title_left {
  position: relative;
  margin-left: 100px;

  &::before {
    position: absolute;
    content: "";
    width: 600px;
    height: 7px;
    top: 50px;
    left: 650px;
    background: black;
  }
}

.friends {
  margin-top: 120px;
  margin-bottom: 120px;
  position: relative;
}

.dot {
  width: 15px;
  height: 15px;
  border: 1px solid white;
  border-radius: 50%;
  transition: .3s;
  &:hover {
    background: white;
  }
}

.block_dots {
  position: relative;
}

.dots {
  position: absolute;
  right: -94vw;
  top: 300px;
}

.buy_block {

  position: absolute;
  height: 35%;
  width: 100%;
  left: -100%;
  top: 80%;
  background-color: white;
  transition: .4s;
}

.car_photo:hover .buy_block {
  top: 80%;
  left: 0;
  height: 35%;
  width: 100%;
  align-items: center;
}
.car_photo:hover .car_name {

  justify-content: center;

  margin-left: 26%;
  left: 0;
}


.car_photo {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: 0 0 12px rgba(0,0,0,0.3);
}

.icon {
  width: 25px;
  height: 25px;
  margin-top: 200px;
}
.icon img {
  width: 25px;
  height: 25px;
  margin-top: 100px;
}
.modal-content
{
  width: 672px;
  height: 1145px;
}
.login {
  font-size: 21px;
  width: 100%;
  font-family: AvenirNextCyr-Light;
  font-style: normal;
  font-weight: 300;
  line-height: 140.88%;

  border: 1px solid black;
  margin-bottom: 29px;
  padding-left: 2px;
}

.checkbox input[type="checkbox"] {
  display: none;
}

.checkbox label {
  position: relative;
  display: inline-block;

  /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
  padding-left: 22px;
}

.checkbox label::before,
.checkbox label::after {
  position: absolute;
  content: "";

  /*Needed for the line-height to take effect*/
  display: inline-block;
}

/*Outer box of the fake checkbox*/
.checkbox label::before{
  height: 20px;
  width: 20px;

  border: 1px solid;
  left: 0px;

  /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
   *to vertically center it.
   */
  top: 3px;
}

/*Checkmark of the fake checkbox*/
.checkbox label::after {
  height: 14px;
  width: 14px;
  background-color: black;
  left: 3px;
  top: 5px;
}

/*Hide the checkmark by default*/
.checkbox input[type="checkbox"] + label::after {
  content: none;
}

/*Unhide on the checked state*/
.checkbox input[type="checkbox"]:checked + label::after {
  content: "";
}

/*Adding focus styles on the outer-box of the fake checkbox*/
.checkbox input[type="checkbox"]:focus + label::before {
  outline: rgb(59, 153, 252) auto 5px;
}
ul
{
  padding: 0;
}
li {
  display: flex;
  list-style-type: none; /* Убираем маркеры у списка */
}
li:before {
  content: "-"; /* Добавляем в качестве маркера символ */
}
.close
{
  margin-left: 600px;
  margin-top: 20px;
  color: black;
}
.owl-dots {
  display: flex!important;
  align-items: center;
  justify-content: center;
  margin-top: 3em;

  .owl-dot {
    width: 175px;
    height: 6px;
    background: rgba(24, 24, 24, 0.3)!important;

    margin: 0 7.5px;


    &.active {
      background: #3f3e3e!important;
    }
  }
}
.gallery img
{

}