
.for_head
{
  max-width: 1500px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
img
{
  width: 100%;
  height: 100%;
}
body
{
  margin: 0px;
  max-width: 1900px;
}
.header__nav
{

  list-style: none;
  justify-content: space-between;
  display: flex;
  padding: 0;
  margin-top: 20px;

}
.header__nav-item
{
  position: relative;
  overflow: hidden;
  padding-right: 1px;

  &::before
  {
    position: absolute;
    top: 20px;
    left: -100%;
    width:100%;
    height: 1px;
    content: "";
    background-color: #FFFFFF;
    transition: .4s;
  }
  &:hover
  {
    &::before
    {
      position: absolute;
      top: 20px;
      left: 0;
      width:100%;
      height: 1px;
      content: "";
      background-color: #FFFFFF;

    }
  }
}
.header
{
  background: url("../img/header.jpg");
  height: 1000px;
  margin-top: 0;
  margin-bottom: 0;

}

a
{
  text-decoration: none;
  &:hover
  {
    color: #FFFFFF;
  }
}
.line {
  width: 300px;
  height: 1px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #FFFFFF;
  opacity: .7;

  &_vertical {
    position: absolute;
    height: 300px;
    width: 1px;
    top: 0;
    left: 280px;
    background-color: #FFFFFF;
    opacity: .7;

  }
  &_arrow
  {
    width: 1px;
    height: 125px;
    background: #FFFFFF;

    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin-bottom: 100px;
    margin-top: 30px;
  }
  &_bold
  {
    width: 230px;
    height: 7px;
    background: #181818;
  }
}
.big_text_block
{
  position: relative;
}
.block_for_header_text
{
  margin-top: 150px;
}
.button_one
{
  position: relative;
  overflow: hidden;
  display: inline-block;
  &::before {
    position: absolute;
    top: 22px;
    left: -100%;
    width: 100%;
    height: 1px;
    content: "";
    background-color: #FFFFFF;
    transition: .4s;
  }

  &:hover {
    &::before {
      position: absolute;
      top: 22px;
      left: 0;
      content: "";
      background-color: #FFFFFF;
    }
  }
}
.description
{
  position: relative;

}
.block_cities
{

  position: absolute;
  top: 150px;
  left: 20px;
  opacity: .7;

}
.city
{

  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.block_first
{
  position: relative;
  &_card
  {
    position: relative;
    left: 700px;
    top: -250px;
  }
}
.block_second
{
  position: relative;
  &_card
  {
    position: relative;
    left: 10px;
    top: -2700px;
  }
}
.block_third
{
  margin-top: 400px;
  position: relative;
  &_card
  {
    position: relative;
    left: 700px;
    top: -250px;

  }
}
.block_finally
{
  margin-bottom: 200px;
  margin-top: 400px;
}
.route
{
  margin-top: 100px;
}
.button
{
  &_mini {
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    width: 220px;
    height: 45px;
  }
  &_maxi {
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    width: 389px;
    height: 82px;

  }
}
.partners
{
  margin-bottom: 270px;
}
.form_go_on
{
  margin-bottom: 200px;
}
.footer
{
  background-color: black;
  height: 400px;
}
.footer_title{
  position: relative;
  &::after
  {
    position: absolute;
    height: 8px;
    width: 100%;
    left: 675px;
    top: 95px;
    background: #FFFFFF;
    content: "";
  }
}
.footer_blocks
{
  justify-content: space-between;
  display: flex;
  margin-top: 100px;
}
.logo
{
  width: 189px;
}
.map
{
  position: relative;
  height: 750px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  &_card
  {
    position: absolute;
    top:-50px;

  }

}
.round
{
  width: 40px;
  height: 40px;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  &_first
  {
    left: 350px;
    top: 30px;
  }
  &_second
  {
    left: -150px;
    top: 30px;
  }
  &_third
  {
    left: 600px;
    top: 30px;
  }
}
.vector
{
  position: absolute;
  &_first
  {
    left: -220px;
    top: 50px;
    width: 1000px;
    height: 950px;
  }
  &_second
  {
    left: -140px;
    width: 850px;
    height: 780px;
    top: 90px;
  }
  &_third
  {
    left: -130px;
    bottom: 430px;
    width: 850px;
    height: 900px;
  }
}