.block_first {
  position: relative;
  &_card {
    position: relative;
    left: 700px;
    top: -250px;
  }

}

.block_second {
  position: relative;
  &_card {
    position: absolute;
    left: -370px;
  }
}

.block_third {
  margin-top: 400px;
  position: relative;
  &_card {
    position: relative;
    left: 700px;
    top: -250px;

  }
}

.block_finally {
  margin-bottom: 200px;
  margin-top: 400px;
}

.route {
  margin-top: 100px;
}

.button {
  &_mini {
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    width: 220px;
    height: 45px;
    transition: .6s;
    &:hover {
      .button_go_on {
        color: #FFFFFF;
      }
      background-color: black;
    }
  }
  &_maxi {
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    width: 389px;
    height: 82px;
    transition: .6s;
    &:hover {
      .button_go_on_big {
        color: #FFFFFF;
      }
      background-color: black;
    }

  }
}
.round {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  transition: background .4s ease .4s;
  background-color: transparent;
  &_first {
    left: 350px;
    top: 30px;
  }
  &_second {
    left: -140px;
    top: 30px;
  }
  &_third {
    left: 600px;
    top: 30px;
  }
  &_fourth {
    left: 30px;
    top: -90px;
  }
  &.animated {
    background: #000;
  }
}
.slick-slider {
  overflow-x: hidden;

  .slick-list {
    padding: 0 !important;
    right: -54px;
  }
  .slick-slide {
    margin: 0 -82px;
    position: relative;
    z-index: 1;

    img {
      height: 377px;
      box-shadow: none;
      position: relative;
      z-index: 1;
      top: 48px;
    }
    &:after {
      content: '';
      position: absolute;
      top: 48px;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.75);
      z-index: 2;
    }
    &.slick-current {
      z-index: 2;

      img {
        height: 467px;
        width: auto !important;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
        top: 0;
      }
      &:after {
        display: none;
      }
    }
  }
}

.vector {
  position: absolute;
  &_first {
    left: -230px;
    top: 50px;
    width: 1000px;
    height: 1100px;
  }
  &_second {
    left: -140px;
    width: 870px;
    height: 880px;
    top: 110px;
  }
  &_third {
    left: -110px;
    bottom: 600px;
    width: 850px;
    height: 1020px;
  }
  &_fourth {
    left: -130px;
    width: 670px;
    height: 780px;
  }
}

.way_block {
  width: 150%;
}
